// 共通で使用する変数
$font-color-dark: #434A54;

// .alertと.main__height-adjustmentで使用する変数
$alert-height: 30px;

// .chat-navで使用する変数
$chat-nav-font-color: #FFF;
$chat-nav-header-height: 100px;
$chat-nav-padding-width: 20px;

// .chatで使用する変数
$chat-padding-width: 40px;
$chat-header-height: 100px;
$chat-footer-height: 90px;
