%nav.chat-nav
  %div.chat-nav__header
    %div.chat-nav__header__user= current_user.name
    %div.chat-nav__header__icon
      = link_to edit_user_path(current_user), class: "chat-nav__header__icon__user-update" do
        %i.fas.fa-cog
      = link_to new_group_path(current_user), class: "chat-nav__header__icon__group-addition" do
        %i.fas.fa-edit
  %ul.chat-nav__group
    -# TODO: groupモデル対応、変数設定
    = render partial: "partial/group_list"
