-# モデル対応は後ほど
- 10.times do
  %li.chat__body__list
    %span.chat__body__list__user-name member1
    %span.chat__body__list__creation-time 2018/11/30 16:31:35
    %div.chat__body__list__message sample message