- 10.times do
  -# TODO: path・HTTPメソッド設定
  = link_to "#", class: "chat-nav__group__list" do
    -# TODO: groupモデル対応
    %div.chat-nav__group__list__group-name グループ名
    -# TODO: messageモデル対応
    %div.chat-nav__group__list__new-message まだメッセージはありません。
