.chat-nav {
  float : left;
  width : 300px;
  height: 100%;
}

.chat-nav__header {
  @include justify-space-between;
  align-items     : center;
  width           : 100%;
  height          : $chat-nav__header-height;
  background-color: #253141;
  padding         : 0 $chat-nav__padding--lateral;
}

.chat-nav__header__user {
  width      : 200px;
  color      : $font--white;
  font-size  : 16px;
  font-weight: bold;
}

.chat-nav__header__icon {
  @include clear;
}

.chat-nav__header__icon__group-addition, .chat-nav__header__icon__user-update {
  float      : right;
  margin-left: 8px;
  color      : $font--white;
}

.chat-nav__group {
  overflow-y: scroll;
  width     : 100%;
  height    : calc( 100% - #{$chat-nav__header-height} );
}

.chat-nav__group__list {
  display         : block;
  width           : 100%;
  padding         : 20px $chat-nav__padding--lateral;
  background-color: #2F3E51;
  text-decoration : none;
  @include hover(0.9);
}

.chat-nav__group__list__group-name {
  margin-bottom: 5px;
  color        : $font--white;
  font-size    : 15px;
}

.chat-nav__group__list__new-message {
  color    : $font--white;
  font-size: 11px;
}
