.chat {
  position: relative;
  float   : right;
  width   : calc(100% - 300px);
  height  : 100%;
}

.chat__header {
  @include justify-space-between;
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : $chat__header-height;
  border-bottom: solid 1px #EEE;
  padding      : 0 $chat__padding--lateral;

  &__group-info {
    width     : calc(100% - 100px);
    height    : 100%;
    overflow-x: scroll;
    @include scroll-bar-hidden;

    &__name {
      margin-top: 35px;
      height    : 20px;
      color     : #333;
      font-size : 20px;
    }

    &__member {
      margin-top: 15px;
      color     : #999;
      font-size : 12px;
    }
  }

  &__group-edit-btn {
    @include justify-space-between;
    align-items    : center;
    height         : 40px;
    margin-top     : 28px;
    padding        : 0 20px;
    border         : solid 2px $blue;
    text-decoration: none;
    color          : $blue;
    font-size      : 14px;
  }
}

.chat__body {
  overflow-y      : scroll;
  overflow-x      : auto;
  position        : absolute;
  top             : $chat__header-height;
  width           : 100%;
  height          : calc(100% - #{$chat__header-height} - #{$chat__footer-height});
  background-color: #FAFAFA;
  padding         : 26px $chat__padding--lateral;

  &__list {
    width    : 100%;
    padding  : 20px 0;
    font-size: 0;       // 要素間に勝手に設定される余白を削除するための記述、親要素でfont-sizeを0に指定して子要素でfont-sizeを改めて設定

    &__user-name {
      padding-right: 10px;
      color        : $font--dark;
      font-weight  : bold;

      .chat__body__list & {
        font-size: 16px;
      }
    }

    &__creation-time {
      color: #999;

      .chat__body__list & {
        font-size: 12px;
      }
    }

    &__message {
      margin-top: 10px;
      color     : $font--dark;

      .chat__body__list & {
        font-size: 14px;
      }
    }
  }
}

.chat__footer {
  @include justify-space-between;
  position        : absolute;
  bottom          : 0;
  left            : 0;
  width           : 100%;
  height          : $chat__footer-height;
  background-color: #DDD;
  padding         : 20px $chat__padding--lateral;

  &__message {
    position        : relative;
    height          : 100%;
    width           : calc(100% - 115px);  // 115px = chat__footer__submitのwidth + margin-right
    background-color: #FFF;

    &__area {
      @include align-center;
      height     : 100%;
      width      : 100%;
      padding    : 13px 40px 13px 10px;
      border     : none;
      color      : $font--dark;
      font-size  : 16px;
      line-height: 1.5;
      resize     : none;
    }

    &__image {
      position : absolute;
      top      : 50%;
      right    : 10px;
      transform: translateY(-50%);

      i {
        @include hover();
      }

      &__file {
        display: none;
      }
    }
  }

  &__submit {
    width           : 100px;
    height          : 100%;
    background-color: $blue;
    color           : $font--white;
    @include hover();
  }
}

.scrollbar {
  @include scroll-bar;
}

.hide-scrollbar {
  &::-webkit-scrollbar{
    display: none;
  }
}
