.notification {
  position: fixed;
  top     : 0;
  width   : 100vw;

  &__notice {
    background-color: $blue;
    color           : $font--white;
    @include align-center;
    justify-content: center;
  }

  &__alert {
    background-color: $orange;
    color           : $font--white;
    @include align-center;
    justify-content: center;
  }
}
